body {
    background: blanchedalmond;
    display: flex;
    justify-content: center;
}

.carcasa {
    background: linear-gradient(to right top, #cb3b3b, #cd3b3b, #ce3c3c, #d03c3c, #d23c3c);
    height: 450px;
    width: 300px;
    border-radius: 5%;
    box-shadow: 5px 5px 2px 2px rgb(153, 62, 62);

}

.pantalla {
    background: rgba(0, 0, 0, 0.962);
    height: 190px;
    width: 270px;
    margin-top: 20px;
    margin-left: 15px;
    border-radius: 2%;
    position: absolute;
    display: flex;
    justify-content: center;
    box-shadow: 3px 3px rgb(23, 1, 1);
}

.container {
    width: 290px;
    height: 220px;
    background: linear-gradient(to right top, #cb3b3b, #cd3b3b, #ce3c3c, #d03c3c, #d23c3c);
    margin-top: 220px;
    margin-left: 5px;
    display: flex;
}

.containerFlechas {
    width: 110px;
    height: 220px;
    background: linear-gradient(to right top, #cb3b3b, #cd3b3b, #ce3c3c, #d03c3c, #d23c3c);
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

button {
    font-size: x-large;
    display: flex;
    align-items: center;
}

.buttonUp {
    height: 41px;
    width: 30px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 5px 5px 5px black;
    align-self: flex-start;
    margin-top: 57px;
    margin-left: -10px;

}

.buttonDown {
    height: 40px;
    width: 30px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 5px 5px 5px black;
    align-self: flex-end;
    margin-bottom: 60px;
    margin-left: -10px;
}

.buttonRigth {
    height: 27px;
    width: 45px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 5px 5px 5px black;
    margin-left: 35px;

}

.buttonLeft {
    height: 27px;
    width: 45px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 0px 5px 5px black;
    margin-left: -55px;
}


.buttonDown,
.buttonLeft,
.buttonUp,
.buttonRigth {
    background-color: #000000;
    color: rgb(97, 121, 142);
}

.buttonDown:hover {
    background-color: #6f5757;
}

.buttonRigth:hover {
    background-color: #6f5757;
}

.buttonLeft:hover {
    background-color: #6f5757;
}

.buttonUp:hover {
    background-color: #6f5757;
}



p {
    color: rgb(21, 149, 204);
    align-self: flex-end;
    font-size: large;
}

.colorC {
    color: rgb(163, 60, 60);
}

.colorO {
    color: rgb(47, 81, 175);
}

.colorL {
    color: rgb(29, 156, 39);
}

.colorO2 {
    color: rgb(244, 232, 2);
}

.colorR {
    color: rgb(0, 170, 255);
}

.buttonAb {
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.buttonA {
    background-color: #000000;
    color: rgb(52, 56, 92);
    width: 35px;
    height: 35px;
    box-shadow: 5px 5px 5px black;
    border-radius: 50%;
    margin-bottom: 45px;


}

.buttonB {
    background-color: #000000;
    color: rgb(52, 56, 92);
    width: 35px;
    height: 35px;
    box-shadow: 5px 5px 5px black;
    border-radius: 50%;

}

.buttonA:hover {
    background-color: #6f5757;

}

.buttonB:hover {
    background-color: #6f5757;

}

.buttonSelect {
    width: 70px;
    height: 30px;
}

.buttonStart {
    width: 100px;
    height: 30px;

}

.buttonSs {
    width: 85px;
    height: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.buttonSelect {
    width: 40px;
    height: 15px;
    background-color: #000000;
    box-shadow: 5px 5px 5px #000000;
    border-radius: 90%;

}

.buttonStart {
    width: 40px;
    height: 15px;
    background-color: #000000;
    box-shadow: 5px 5px 5px #000000;
    border-radius: 90%;

}

.buttonStart:hover {
    background-color: #6f5757;
}

.buttonSelect:hover {
    background-color: #6f5757;
}